#nav, #footer {
    background: #FF6B01;
}
#nav li[id="aide_en_ligne"]:hover, #nav li[id="modif_aide_en_ligne"]:hover, #nav li.nav_menu:hover, #nav #nav_bt_accueil:hover {
    background: #FC9953;
}
#nav li[id*="nav_bt_"] a.selected{
	background: #FC9953;
}

.filtre{
	background-color:#EEEEEE; 
	width: 100%;
	padding: 5px;
}
table.filtre th{
	background-color: #FC9953;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
   	padding: 2px 7px;
   	text-align: left;
}
.select400
{
	width: 400px;
}
.tdConsolidation{
	width: 270px;
}
.selectConsolidation{
	width: 100%;
}
#etatCollecte{
	margin: 20px auto;
	border: 1px solid #000000;
	border-collapse: collapse;
}
#etatCollecte thead{
	background: #CCCCCC;
}
#etatCollecte th{
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}


table#listeEtabNonRep {
    clear: both;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}
table#listeEtabNonRep td,
table#listeEtabNonRep th {
	text-align: center;
    padding: 5px 15px 5px 5px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
table#listeEtabNonRep thead th {
    background-color: #CCCCCC;
}
table#listeEtabNonRep tbody tr.odd{
	background-color: #F8F8F8;
}

table#listeEtabNonRep thead th.sorting_asc {
    background: #CCCCCC url("../resources/images/icones/up.gif") no-repeat right center;
}
table#listeEtabNonRep thead th.sorting_desc {
    background: #CCCCCC url("../resources/images/icones/down.gif") no-repeat right center;
}
table#listeEtabNonRep thead th.sorting {
    background: #CCCCCC url("../resources/images/icones/up_down.gif") no-repeat right center;
}

#listeEtabNonRep_wrapper
{
	margin-top: 10px;
}


#content div.messageInfo
{
	margin: 100px auto;
	text-align: center;
	font-size: 1.5em;
}

img.information {
    margin-right: 10px;
    vertical-align: bottom;
}

#toPrint
{
	display: none;
}
table#listeEtabNonRepPrint {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
}
table#listeEtabNonRepPrint td, table#listeEtabNonRepPrint th {
    border: 1px solid #000000;
}
table#listeEtabNonRepPrint th {
	background-color: #CCCCCC;
}
table#listeEtabNonRepPrint tr.odd {
	background-color: #F8F8F8;
}
